<div class="d-flex justify-content-center flex-column align-items-center">
    <div class="shadow p-3 mb-5 rounded bg-white w-50 bg-opacity-50 m-3 d-flex flex-column align-items-center">
        
        @model User
        <h1>Thank you @Model.Name!</h1>
        <h2>You have been registered!</h2>
    </div>
    <a href="/" class="d-flex justify-content-center link-dark">Home</a>

</div>